<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
		<setting name="jdbcTypeForNull" value="VARCHAR"></setting>
	</settings>
	
	<typeAliases>
 		<typeAlias type="com.yedam.java.emp.mapper.EmpMapper" alias="EmpMapper" />
		<!-- pacakge를 이용해서 별칭 지정할때 : bean을 이용하여 찾음(컨테이너에 등록한 빈을 검색해야함) -->
		<package name="com.yedam.java.emp.service"/>
	</typeAliases>
	<typeHandlers>
		<!-- java.sql.Timestamp를 java.util.Date로 변경  -->	
		<typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler"/>
	</typeHandlers>
</configuration>  